---
layout: splash
title: "Highlights"
header:
  overlay_image: /assets/images/Sorbitolfull.jpg # Ruta a tu imagen de encabezado
  overlay_filter: 0.5 # Opacidad del filtro superpuesto
  caption: "Solid Rocket Motor"
feature_row:
  - image_path: /assets/images/NNPort.jpg
    alt: "Demand Forecasting with Neural Networks – Honeywel"
    title: "Neural Networks Forecast of Demand - Honeywell"
    excerpt: "Used LSTM and Dense neurons for Demand Planning at Honeywell Aerospace"
    url: "/engineering project/NNLSTM/"
    btn_label: "View Details"
    btn_class: "btn--primary"
  - image_path: /assets/images/SorbitolMotor.jpg
    alt: "SRAD Motors for Experimental Rockets"
    title: "SRAD Rocket Motor"
    excerpt: "As a student group, we design, build and fly experimental rockets"
    url: "/engineering project/MRL/"
    btn_label: "View Details"
    btn_class: "btn--primary"
  - image_path: /assets/images/BLX01.jpeg
    alt: "Blanket Line"
    title: "BLX01 Ionic Plane: Propeller-Free Flight"
    excerpt: "As a research initiative, we are developing an ionic fixed-wing aircraft"
    url: "/engineering project/BLX01"
    btn_label: "View Details"
    btn_class: "btn--primary"

feature_row2:
- image_path: /assets/images/2ndPlace.jpg
  alt: "Nemak Engenius "
  title: "2nd Place in the Engenius Program at Nemak"
  excerpt: "Successfully deployed a safety-focused project developed by a team of three students within the operations of an international enterprise."
  url: "/engineering project/Nemak/"
  btn_label: "View Details"
  btn_class: "btn--primary"
- image_path: /assets/images/DDegre.jpg
  alt: "Dual-Degree"
  title: "Dual-Degree Initiative in Aerospace Engineering"
  excerpt: "Talk to senior leaders at Tec de Monterrey to offer a Dual-Degree Program"
  url: "/outreach and engagement projects/SAERO-G2/"
  btn_label: "View Details"
  btn_class: "btn--primary"
- image_path: /assets/images/TechoSideV.JPG
  alt: "Techo"
  title: "Community Service at Techo"
  excerpt: "Techo is an NGO focused on eradicating poverty through community-led initiatives, dignified housing, and the empowerment of underserved communities."
  url: "/community service/TECHO"
  btn_label: "View Details"
  btn_class: "btn--primary"
---



{% include feature_row%}


{% include feature_row id="feature_row2" %}
